<div id="main-container">
  <p class="loading" *ngIf="loadingInBackground">Loading...</p>
  <!-- <p [hidden]="!metaData" class="page-title">To Initiate a disposition report check the <b>ACTION</b> column to make your selections, then choose an action from the <b>Move To</b> dropdown</p> -->
  <div [hidden]="loadingInBackground" class="actions-container d-flex justify-content-center">
    <div class="actions-block d-flex flex-wrap flex-column">
      <p class="type label-type dashboard-title">Disposition Action Dashboard</p>
      <div class="blocks d-flex flex-wrap">
        <div class="store box d-flex flex-column clickable" [ngClass]="{'active': selectedInventoryType === 'store'}"
          (click)="showOnlyTableData('store', true)">
          <p class="type count-type">{{storesList.length}}</p>
          <p class="type label-type">Store</p>
        </div>
        <div class="return box d-flex flex-column clickable" [ngClass]="{'active': selectedInventoryType === 'return'}"
          (click)="showOnlyTableData('return', true)">
          <p class="type count-type">{{returnsList.length}}</p>
          <p class="type label-type">Return</p>
        </div>
        <div class="destroy box d-flex flex-column clickable"
          [ngClass]="{'active': selectedInventoryType === 'destroy'}" (click)="showOnlyTableData('destroy', true)">
          <p class="type count-type">{{destroyList.length}}</p>
          <p class="type label-type">Destroy</p>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="loadingInBackground" class="filters d-flex flex-wrap">
    <!-- <p class="page-title">To Initiate a disposition report check the <b>Action</b> column to make your
      selections, then choose an action from the <b>Move To</b> dropdown</p> -->
    <p class="page-title">To initiate a disposition report, checkbox a row to make your selection(s) , then choose an
      action
      from the <b>Move To</b> dropdown.
    <div class="filters-group lock-group">
      <div class="lock d-flex m-0">
        <mat-icon aria-hidden="false" class="col-icon">
          lock
        </mat-icon>
        <span (click)="changeLockState()">{{lockLable}}</span>
      </div>
      <div class="show-rows">
        <label for="">Show Rows</label>
        <select class="form-control rows-per-screen" [(ngModel)]="recordsPerScreen" (change)="tableRecordsChanged()">
          <option *ngFor="let option of recordsPerScreenOptions" [value]="option">{{option}}</option>
        </select>
      </div>
      <div class="show-rows">
        <label for="sel1">Move To</label>
        <select class="form-control" [disabled]="!selectedInventoryList.length" [(ngModel)]="selectedDisposition"
          (ngModelChange)="onDispositionChange()">
          <option disabled>Select</option>
          <option *ngFor="let option of dispositionTypes" [value]="option.value">{{option.label}}</option>
        </select>
      </div>
      <div class="show-rows">
        <label for="sel1">Filter</label>
        <select class="form-control" [(ngModel)]="selectedColumn">
          <ng-container *ngFor="let option of columnsList">
            <option *ngIf="option.label && option.label !== 'Action'" [value]="option.value">{{option.label}}</option>
          </ng-container>
        </select>
        <input type="text" [disabled]="!selectedColumn" [(ngModel)]="searchValue" class="form-control mx-2"
          #searchFilter>
      </div>

      <a class="action-link" (click)="reset()">Reset</a>
      <a class="action-link" (click)="showAll($event)">Show All</a>
    </div>
  </div>
  <ng-container *ngIf="!loadingInBackground">
    <div class="table-responsive">
      <table id="inv-table" class="table" [ngClass]="{'noselect': pressed}" #inventoryTable>
        <thead [ngClass]="{'col-locked': lockState===states.UN_LOCK}">
          <tr class="move-column">
            <ng-container *ngFor="let column of columnsList; let i=index">
              <th *ngIf="column.value === 'check_box'" [ngClass]="{'lock-column': lockState === states.LOCK_ACTIVATED, 'lock-activated':
                this.isColumnLocked(column.value)}" class="checkbox-column"><input type="checkbox"
                  [(ngModel)]="selectAll" (change)="selectOrUnSelectAll($event)" /></th>
              <th *ngIf="column.value !== 'check_box'" class="clickable" [ngClass]="{'lock-column': lockState === states.LOCK_ACTIVATED, 'lock-activated':
                this.isColumnLocked(column.value), 'dragable': pressed}" (click)="sortColumn(column, i, $event)"
               
                [ngStyle]="{'max-width.px': column.width ? column.width : 'auto', 'min-width.px': column.width ? column.width : 'auto'}">
                <div class="column-name" [title]="column.label"><span class="col-name">{{column.label}}</span>
                  <mat-icon aria-hidden="false" class="col-icon">
                    {{column.sort === true ? 'keyboard_arrow_up' : column.sort === false ? 'keyboard_arrow_down': ''}}
                  </mat-icon>
                </div>
                <span class="ui-column-resizer"  (mousedown)="onMouseDown($event, i)"></span>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody [ngClass]="{'col-locked': lockState===states.UN_LOCK}">
          <tr class="move-column" *ngFor="let inventory of inventoryList">
            <ng-container *ngFor="let column of columnsList; let i=index">
              <td *ngIf="!column.label" class="checkbox-column"
                [ngClass]="{ 'lock-activated': lockState===states.UN_LOCK && this.isColumnLocked('check_box')}"><input
                  type="checkbox" [(ngModel)]="inventory.isSelect" (change)="selectInventory(inventory)" /></td>
              <td *ngIf="column.label && column.label !== 'Action' && column.value" [title]=" inventory[column.value]"
                [ngStyle]="{'max-width.px': column.width ? column.width : 'auto', 'min-width.px': column.width ? column.width : 'auto'}"
                [ngClass]="{ 'lock-activated': lockState===states.UN_LOCK && this.isColumnLocked(column.value)}">
                <div class="col-value"
                  [ngStyle]="{'width.px': column.width ? (column.width-15 < 0 ? 0 : column.width-15): 'auto'}">
                  {{inventory[column.value]}}</div>
                <!-- <ng-template #dateVal>
                  <div class="col-value">{{inventory[column.value] | date:'d/MMM/yyyy'}}</div>
                </ng-template> -->
              </td>
              <td *ngIf="column.label === 'Action'"
                [ngStyle]="{'max-width.px': column.width ? column.width : 'auto', 'min-width.px': column.width ? column.width : 'auto'}"
                [ngClass]="{ 'lock-activated': lockState===states.UN_LOCK && this.isColumnLocked(column.value)}">
                <div class="col-value"
                  [ngStyle]="{'width.px': column.width ? (column.width-15 < 0 ? 0 : column.width-15) : 'auto'}">
                  {{inventory[column.value] === 2 ? 'Return' : inventory[column.value] === 3 ? 'Destroy' :'Store' }}
                </div>
              </td>
            </ng-container>
          </tr>
          <p *ngIf="inventoryList && !inventoryList.length" class="no-records-found">NO RESULTS FOUND</p>
        </tbody>
      </table>
    </div>
    <div class="pagination" *ngIf="inventoryList && inventoryList.length">
      <div>Page <input type="number" class="panination-page-no-inp" (keyup)="onKeyUpEvent($event)"
          [(ngModel)]="goToPage" />
        <span>of {{noOfPages}}({{startIndex + 1}} – {{endIndex}} of {{totalPaginationRecords}} items)</span>
      </div>
      <pagination id="pagination" [boundaryLinks]="true" [itemsPerPage]="recordsPerScreen"
        (pageChanged)="pageChanged($event)" [totalItems]="totalPaginationRecords" previousText="&lsaquo;"
        nextText="&rsaquo;" [maxSize]="5" [(ngModel)]="currentPage"></pagination>
    </div>

    <div class="action-buttons">
      <button class="btn btn-primary l-btn mr-2" type="button" (click)="discardDisposition()">Discard
        Disposition</button>
      <button class="btn btn-primary l-btn mr-2" type="button" (click)="getReportDetails('S')"
        [disabled]="!metaData">Save Disposition</button>
      <button *ngIf="showCompleteBtn" class="btn btn-primary l-btn" type="button"
        (click)="getReportDetails('C')">Complete Disposition</button>
    </div>
  </ng-container>
</div>