 @import './../../../variables.scss';

 :host(app-inventory-list) {
   .loading {
     text-align: center;
     font-size: 20px;
     margin-bottom: 20px !important;
   }

   .dashboard-title {
     padding: 0;
     text-align: center;
     margin-bottom: 10px !important;
   }

   .page-title {
     margin-bottom: 10px !important;
   }

   display: flex;
   flex-direction: column;
   padding: 2rem;

   div.pagination {
     margin-top: 2rem;
     display: flex;
     flex-basis: 50%;
     justify-content: flex-end;
     color: #333333 !important;
     font-size: 12px !important;

     .panination-page-no-inp {
       margin: 0 0.3em 0.2em;
       padding: 0.2em 0.2em;
       border-radius: 0.4em;
       width: 3.1em;
       text-align: center;
       border: 1px solid #333;

       &:focus {
         border: 1px solid #333;
       }
     }

     /* Chrome, Safari, Edge, Opera */
     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
       -webkit-appearance: none;
       margin: 0;
     }

     /* Firefox */
     input[type=number] {
       -moz-appearance: textfield;
     }

     ::ng-deep .pagination {

       .pagination-first,
       .pagination-last {
         display: none;
       }
     }
   }

   .action-buttons {
     margin-top: 2rem;
     display: flex;
     justify-content: flex-end;

     button {
       font-size: 1.4rem;
     }
   }

   .actions-container {
     margin-bottom: 2rem;
     align-items: center;

     .actions-block {
       border: 2px solid #f5b436;
       padding: 15px;
       border-radius: 12px;

       .box {
         border: 1px solid #cdcdcd;
         height: 100px;
         width: 25rem;
         justify-content: center;
         align-items: center;
         border-radius: 6px;

         &.active {
           color: #fff;
           font-weight: 500;

           &.store {
             background: #1e8ae7;
           }

           &.return {
             background: #5c4495;
           }

           &.destroy {
             background: #ee3134;
           }
         }

         &.return {
           margin: 0 15rem;
         }

         .btns-list {
           margin-top: 1rem;

           .m-btn {
             margin: 0 1rem;
           }
         }
       }
     }

     .reset {
       margin-left: 3rem;
     }
   }

   .filters {
     .filter {
       width: 15rem;
     }

     .lock {
       margin-left: 3rem;
     }

     .action-links {
       align-items: center;
       flex: 1;
       justify-content: flex-end;

       .action-link {
         margin: 2rem 1rem 1rem 1rem;
         cursor: pointer;
         color: $purple;

         &:hover {
           text-decoration: underline;
         }
       }
     }
   }

   .lock {
     cursor: pointer;
   }


   th.lock-activated {
     background-color: #ffc94d;
     color: #fff;
     z-index: 2;
   }

   .col-locked {
     .lock-activated {
       position: sticky !important;
     }
   }

   .clickable {
     cursor: pointer;
   }

   .dragable {
     cursor: col-resize;
   }

   .noselect {
     -webkit-touch-callout: none;
     /* iOS Safari */
     -webkit-user-select: none;
     /* Safari */
     -khtml-user-select: none;
     /* Konqueror HTML */
     -moz-user-select: none;
     /* Old versions of Firefox */
     -ms-user-select: none;
     /* Internet Explorer/Edge */
     user-select: none;
     /* Non-prefixed version, currently  supported by Chrome, Edge, Opera and Firefox */
     cursor: col-resize;
   }

   .column-name {
     display: flex;
     align-items: center;
     width: 150px;

     .col-name {
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
     }

     .col-icon {
       margin-left: 1rem;
     }
   }

   .lock-column {
     cursor: e-resize !important;

     &:hover {
       background-color: #ffc94d;
     }
   }

   .table-responsive {
     position: relative;
     border: 1px solid #000;

     .table {
       border-collapse: separate;
       border-spacing: 0;
     }
   }

   .filters-group {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     align-items: center;
   }

 }


 .lock-group {
   background: #e4e4e4;
   border-radius: 10px;
   padding: 5px 15px;
   margin-bottom: 20px;

   .lock {
     align-items: center;

     .col-icon {
       font-size: 20px;
       height: 20px;
       width: 20px;
     }

     span {
       font-size: 14x;
       margin-left: 10px;
     }
   }

   .show-rows {
     display: flex;
     margin-left: 20px;
     align-items: center;

     label {
       font-size: 14px;
       margin: 0 5px 0 15px;
     }

     .rows-per-screen {
       width: 75px !important;
     }

     select.form-control {
       width: 15rem;
     }
   }

   .action-link {
     margin: 0 1rem;
     cursor: pointer;
     color: $purple;

     &:hover {
       text-decoration: underline;
     }
   }
 }

 td.lock-activated {
   background: #fff;
 }

 .fixed_header tbody {
   display: block;
   overflow: auto;
   height: 200px;
   width: 100%;
 }

 .fixed_header thead tr {
   display: block;
 }

 .no-records-found {
   font-size: 1.4rem;
   font-weight: 500;
   margin: 10px 40px !important;
 }

 .table {
   display: grid;
   width: auto;
   -webkit-box-flex: 1;
   flex: 1;

   thead {
     tr {
       background-color: #ffc94d;

       th {
         //width: 150px;
         position: relative;

         .ui-column-resizer {
           display: block;
           position: absolute;
           top: 0;
           right: 0;
           margin: 0;
           width: 10px;
           height: 100%;
           padding: 0;
           cursor: col-resize;
           border: 1px solid transparent;
           z-index: 9999;
         }
       }
     }

     th:first-child {
       position: sticky !important;
       left: 0 !important;
       z-index: 3;
     }
   }

   tbody {
     tr {
       td:first-child {
         position: sticky !important;
         left: 0 !important;
         z-index: 3;
       }
     }
   }
 }

 .col-value {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   width: 150px;
 }

 //  .table-responsive {
 //    height: 300px;
 //    overflow-y: auto;
 //  }

 .label-type {
   padding-top: 7px;
   font-size: 16px;
 }

 .count-type {
   font-size: 28px;
 }

 td.checkbox-column {
   background: #fff;
 }

 .checkbox-column {
   position: sticky !important;
 }

 #pulloutContainer {
  display: flex;
  z-index: 999999;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}

#pulloutContainer .pull-out-handle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#pulloutContainer .pull-out-handle .pull-out-handle-icon {
  background-color: #f5b436;
  border-radius: 4px 0 0 4px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}

#pulloutContainer .seperator {
  width: 4px;
  background-color: #f5b436;
}

#pulloutContainer .pull-out-panel {
  background-color: #ecedeb;
  width: 0;
  height: 100%;
  transition: width .35s ease-in-out;
}

#pulloutContainer .pull-out-panel.show-panel {
  width: 470px;
  padding: 2rem;
}

#pulloutContainer .pull-out-panel .title {
  font-size: 3rem;
  margin-top: 30px;
}

#pulloutContainer .pull-out-panel .description {
  margin: 3rem 0;
}

#pulloutContainer .pull-out-panel .sub-title {
  color: #1e8ae7;
  font-size: 2rem;
}

#pulloutContainer .pull-out-panel .message {
  color: #1e8ae7;
  margin: 10px 0;
}